
.kr-payment-button {outline:none;}

.kr-embedded {
  margin-right:auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 225px;
}

.kr-row-no-gutter {
  padding-left:0!important;
  padding-right:0!important;
  margin-right:0!important;
  padding-left:0!important;
}

.kr-payment-button-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 6px;
}

.kr-payment-button {
  background-color:#01579b;
  margin-bottom:7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 16px;
  border: 0;
  color: #fff;
  padding: 11px 0;
  width: 100%;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  cursor: pointer;
  height: 42px;
}

.kr-payment-button span {
  text-align: center;
  width: 100%;
  height: 100%;
}

.kr-form-error {
    margin: 0 auto;
    margin-top: 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #dc2019;
    color: #fff;
    font-weight: 500;
    padding: 12px 6px;
    display: inline-block;
    text-align: center;
    width: 100%;
    display: none;
}